@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    opacity: 1;
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

main {
    width: 100%;
    min-height: 100vh;
    border: 30px solid #d9d9d9;
}

nav {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.menu-lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 90px;
    width: 90%;
}

.menu-lista a {
    text-decoration: none;
    color: #003760;
    font-size: 1.3rem;
}

.menu-lista a:hover {
    text-decoration: underline;
}

.login-botao {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.login-botao button {
    border: none;
    background-color: #003760;
    padding: 7px;
    border-radius: 5px;
}

.login-botao a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.iconeMenuCelular {
    display: none;
}

.menuCelular {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #5c91a4;
    gap: 30px;
    padding-bottom: 100px;
}

.subtitulo, .ativaLocal, .local {
    margin-left: 2rem;
}

.subtitulo {
    margin-top: 2rem;
}

h2 {
    font-size: 3.5rem;
    color: white;
}

h3 {
    font-size: 2.3rem;
    color: #d9d9d9;
}

.ativaLocal {
    background-color: #003760;
    color: white;
    border: none;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
}

.local {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.imagemLocal {
    width: 350px;
}

.textoLocal {
    color: white;
    width: 50%;
    font-size: 1.5rem;
}

footer {
    background-color: #d9d9d9;
    padding-bottom: 70px ;
}

footer h2 {
    font-size: 1.7rem;
    color: #003760;
    text-align: center;
    margin-bottom: 20px;
}

.parceiros {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.primeiros, .segundos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1250px) {

    .menu-lista, .login-botao {
        display: none;
    }

    .iconeMenuCelular {
        display: block;
    }

    .iconeMenuCelular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menuCelular {
        background-color: #d9d9d9;
    }

    .menuCelular .menu-lista {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
    }

    .menuCelular li {
        display: block;
        margin: 0px auto 1rem auto;
    }

    .menuCelular .login-botao {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .menuCelular .login-botao button {
        margin-bottom: 1rem;
    }

    .aberto {
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    h2 {
        font-size: 2.5rem;
        color: white;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    .ativaLocal p {
        font-size: 1rem;
    }

    .imagemLocal {
        width: 200px;
    }
    
    .textoLocal {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 870px) {
    .menu-lista a {
        font-size: 1rem;
    }
    
    .login-botao button {
        padding: 5px;
    }
    
    .login-botao a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 4rem;
    }

    footer h2 {
        font-size: 1.2rem;
    }

    .primeiros img, .segundos img {
        width: 80px;
    }

    #aws {
        width: 40px;
    }
}

@media screen and (max-width: 600px) {

    .subtitulo, .ativaLocal, .local {
        margin-left: 0;
    }

    .subtitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        align-items: center;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    .ativaLocal {
        font-size: 0.8rem;
    }

    .local {
        flex-direction: column;
        gap: 10px;
    }

    .imagemLocal {
        width: 150px;
    }
    
    .textoLocal {
        font-size: 0.8rem;
    }
}