@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    opacity: 1;
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
}

main {
    width: 100%;
    min-height: 100vh;
    border: 30px solid #d9d9d9;
}

nav {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.menu-lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 90px;
    width: 90%;
}

.menu-lista a {
    text-decoration: none;
    color: #003760;
    font-size: 1.3rem;
}

.menu-lista a:hover {
    text-decoration: underline;
}

.login-botao {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.login-botao button {
    border: none;
    background-color: #003760;
    padding: 7px;
    border-radius: 5px;
}

.login-botao a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.iconeMenuCelular {
    display: none;
}

.menuCelular {
    display: none;
}

.container {
    background-color: #1F3D3B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    min-height: 90vh;
}

.entrar {
    background-color: #2E6561;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 30px;
    height: 400px;
}

.entrar h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 1.5rem;
}

fieldset > label {
    color: #fff;
    font-size: 1rem;
}

fieldset > input {
    font-size: 0.8rem;
    padding: 0.5rem 0.3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
    background-color: #D9D9D9;
    width: 250px;
}

.divBotaoEntrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao {
    font-size: 1rem;
    background-color: #1F3D3B;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.4rem 0.6rem;
}

.separa {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.separa span {
    color: white;
}

.linha {
    height: 1px;
    width: 100px;
    background-color: white;
}

#google {
    width: 17px;
}

.entraGoogle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
}

.entraGoogle p {
    font-size: 1rem;
    color: #2E6561;
}

.linhaVertical {
    width: 0.1px;
    height: 500px;
    background-color: white;
    margin: 50px 0px;
}

.cadastrar {
    margin: 5% 0px;
}

#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo {
    color: white;
    margin-bottom: 2rem;
}

.subtitulo h2 {
    font-size: 2rem;
}

.subtitulo p {
    font-size: 1.25rem;
    text-align: center;
}

#botaoPronto {
    font-size: 1rem;
    background-color: #2E6561;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.4rem 0.6rem;
}

footer {
    background-color: #d9d9d9;
    padding-bottom: 70px ;
}

footer h2 {
    font-size: 1.7rem;
    color: #003760;
    text-align: center;
    margin-bottom: 20px;
}

.parceiros {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.primeiros, .segundos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1250px) {

    .menu-lista, .login-botao {
        display: none;
    }

    .iconeMenuCelular {
        display: block;
    }

    .iconeMenuCelular button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menuCelular {
        background-color: #d9d9d9;
    }

    .menuCelular .menu-lista {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
    }

    .menuCelular li {
        display: block;
        margin: 0px auto 1rem auto;
    }

    .menuCelular .login-botao {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .menuCelular .login-botao button {
        margin-bottom: 1rem;
    }

    .aberto {
        display: block;
    }
}

@media screen and (max-width: 1075px) {
    .container {
        gap: 70px;
    }
}

@media screen and (max-width: 870px) {

    .menu-lista a {
        font-size: 1rem;
    }
    
    .login-botao button {
        padding: 5px;
    }
    
    .login-botao a {
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
        gap: 50px;
    }
    
    .entrar {
        margin-top: 5%;
        height: 350px;
        padding: 0px 20px;
    }
    
    .entrar h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    
    fieldset > label {
        color: #fff;
        font-size: 0.7rem;
    }
    
    fieldset > input {
        font-size: 0.5rem;
        width: 200px;
    }
    
    #botao {
        font-size: 0.6rem;
    }
    
    .separa {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 7px;
    }
    
    .separa span {
        color: white;
        font-size: 0.6rem;
    }
    
    .linha {
        height: 1px;
        width: 80px;
        background-color: white;
    }
    
    #google {
        width: 13px;
    }
    
    .entraGoogle {
        padding: 0.3rem;
    }
    
    .entraGoogle p {
        font-size: 0.7rem;
        color: #2E6561;
    }

    .linhaVertical {
        width: 200px;
        height: 1px;
        margin: 20px 0px 0px 0px;
    }

    .subtitulo {
        margin-bottom: 1.2rem;
    }
    
    .subtitulo h2 {
        font-size: 1.2rem;
    }
    
    .subtitulo p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 4rem;
    }

    footer h2 {
        font-size: 1.2rem;
    }

    .primeiros img, .segundos img {
        width: 80px;
    }

    #aws {
        width: 40px;
    }
}